{% extends "app/base.html" %}

{% block content %}



    <!-- Backround image section started -->

    <section id="b-img-div" style="background-image: url(static/static/Images/home1.jpg);">
      
       <div class="b-img-middle-div">
         <span class="">ALL ITEMS UP TO 30 % OFF</span>
         <h2 class="gray-color">TRENDY SUMMER KID COLLECTIONS</h2>
       </div>
       <button class="btn-shop"> <a href="#">SHOP NOW</a></button>
    </section>


    <!-- Sales item basladi  -->
   <section id="sales">

    <div class="sale-items">
       <div class="items">
          <img src="static/Images/2.jpeg" alt="" srcset=""> 
           <div class="price">
            <h2>SALE</h2>
            <h3>H&M</h3>
             <span>35$</span>
           </div>
       </div>

       <div class="items">
           <img src="static/Images/1.jpeg" alt="" srcset=""> 
        <div class="price">
          <h2>SALE</h2>
          <h3>H&M</h3>
          <span>30$</span>
        </div>
       </div>

       <div class="items">
          <img src="static/Images/3.jpeg" alt="" srcset=""> 
        <div class="price">
               <h2>SALE</h2>
               <h3>H&M</h3>
          <span>20$</span>
        </div>
       </div>

       <div class="items">
         <img src="static/Images/4.jpeg" alt="" srcset=""> 
        <div class="price">
          <h2>SALE</h2>
          <h3>H&M</h3>
          <span>25$</span>
        </div>
    </div>
   </section>
    <!-- Sales item bitdi  -->
    <!-- slider-line basladi -->
   <div class="slider-line">
        
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>

 </div>
 <!-- slider-line bitdi -->
 <!-- Promotions-panel basladi -->
<div class="promotions-panel">
   <div class="text-collage">
      <h1>BEST COLLECTIONS</h1>
      <span>Baby Joy -Take and Care together</span>
   
  </div>
   <div class="promotions"> <img src="static/Images/girl-pink.jpg" alt="" srcset=""> </div>
   <div class="promotions"> <img src="static/Images/boy-green.jpg" alt="" srcset=""></div>
   <div class="promotions"> <img src="static/Images/boy-forest.jpg" alt="" srcset=""></div>
  
</div>
<!-- Promotions-panel bitdi -->
<!-- Subcribe Input class basladi -->
 <div class="subscribe-input">
   <div class="subcribe-middle-panel">
       <img src="static/Images/elephant.png" alt="" srcset="">
       <input type="email" name="Enter-email" id="" value placeholder="Enter your email...">
       <button type="submit" class="button-37">Subscibe</button>
   </div>
 </div>

</body>
</html>
{% endblock %}